# Byte-compiled / optimized / DLL files
__pycache__/
# *.py[cod]
# *$py.class

# IDE
.vscode/

# Database's files
*.db

# Distribution / packaging
# .Python
eggs/
.eggs/
for_project/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
# celerybeat-schedule
# celerybeat.pid

# SageMath parsed files
# *.sage.py

# Environments
.env
# .venv
# env/
# venv/
# ENV/
# env.bak/
# venv.bak/

# Example files
bar.py
baz.py
foo.py
proba*
*.json

# Example dirs


# Linter's settings
.flake8
